@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the WineShare</h1>
    <p>You can go to the sub-pages as follow to the navigations on the top of page. Make sure you have logged in. Or maybe you want to  <a class="link" asp-area="" asp-controller="Users" asp-action="Add">registered</a>?</p>
</div>
